html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

@media (min-width:1600px) {
    form h1{
        font-size: 3vw;
    }
    form{
        max-width: 20vw;
        margin: 10% auto;
    }

    input{
        font-size: 1vw;
    }

    button{
        font-size: 1.5vw;
    }
    .blocks div span{
        font-size: 3vw;
    }
    header{
        margin: 0 0 2% 0;
        display: flex;
        background-color: #1C495E;
        position: relative;
        padding: 2% ;
        /* justify-content: center; */
        /* border:1px solid red; */
        /* border-radius: 10px; */
    }
    header button{
        margin: 0 ;
        width: 80%;
        border: none;
        border-radius: 0;
        background-color: unset;
        width: auto;
        padding: 0 2%;
    }
    header h1{
        font-size: 5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        color: #55CDBA;
        transform: translateX(-50%) translateY(-50%);
        margin: 0;
    }
    header button:last-child{
        position: absolute;
        right: 2%;

    }
    .home{
        margin:0  20%;
        height: auto;
        padding: 0 2% 5%;
        /* padding-right: calc(5%-20px) */
    }
    .home h2{
        font-size: 4vw;
        padding: 1% 0 2% ;
    }
    .blocks{
        grid-template-columns: 49% 49%;
        grid-template-rows: auto;/*127px 127px 127px 127px ;*/
        grid-gap: 5% 2%;
    }
    footer{
        opacity: 0;
        transition: all ease 0.8s;
    }
    footer:hover{
        opacity: 1;
    }
    .roomBlocks{
        grid-template-columns: 100%;
        /* display: block; */
        position: relative;
    }
    .roomBlocks img{
        filter: blur(2px) contrast(0.4);
    }
    .devSen{
        position: absolute;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 50% 50%;
        justify-items: center;
        align-items: center;
    }
    .devices, .sensors{
        font-size: 2vw;
        /* width: 100%; */
        color: #1C495E;
    }
    .roomBlocks label{
        font-size: 3vw;
    }
}
@media (min-width: 768px) and (max-width:1599px) {
    form h1{
        font-size: 8vw;
    }
    form{
        max-width: 50vw;
        margin: 20% auto ;
    }
    input{
        font-size: 3vw;
    }
    button{
        font-size: 4vw;
    }
    .blocks div span{
        font-size: 5vw;
    }
    header{
        margin: 0 0 2% 0;
        display: flex;
        background-color: #1C495E;
        position: relative;
        padding: 2% ;
        margin-bottom:5%; 
    }
    header button{
        margin: 0 ;
        width: 80%;
        border: none;
        border-radius: 0;
        padding: 2%;
        background-color: unset;
        width: auto;
        padding: 0;
    }
    header h1{
        font-size: 6vw;
        position: absolute;
        top: 50%;
        left: 50%;
        color: #55CDBA;
        transform: translateX(-50%) translateY(-50%);
        margin: 0;
    }
    header button:last-child{
        position: absolute;
        right: 2%;

    }
    .home{
        margin:0  5%;
        height: auto;
        padding: 0 2% 10%;
        /* padding-right: calc(5%-20px) */
    }
    .home h2{
        font-size: 6vw;
        padding: 2% 0 5% ;
    }
    .blocks{
        grid-template-columns: 49% 49%;
        grid-template-rows: auto;/*127px 127px 127px 127px ;*/
        grid-gap: 5% 2%;
    }
}
@media (min-width:320px) and (max-width:1023px){
    form h1{
        font-size: 12vw;
    }
    form{
        max-width: 80vw;
        margin: 20% auto ;
    }
    input{
        font-size: 5vw;
    }
    button{
        font-size: 6vw;
    }
    .blocks div span{
        font-size: 32px;
    }
    header{
        margin: 20px 2%;
        display: flex;
    }
    header button{
        margin: 0 5px;
    }
    .home{
        margin:0  8%;
        height: auto;
        padding: 0 5% 5% 5%;
    }
    .home h2{
    padding: 5% 0 5% ;
    font-size: 32px;
    }
    .blocks{
        grid-template-columns: 100%;
        grid-template-rows: auto;/*127px 127px 127px 127px ;*/
        grid-row-gap: 20px;
    }
    header h1, footer{
        display: none;
    }
    .roomBlocks{
        grid-template-columns: 100%;
        grid-template-rows: auto;
        /* display: block; */
        position: relative;
    }
    .img1{
        filter: blur(2px) contrast(0.4);
    }
    .devSen{
        position: absolute;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: auto;

        justify-items: center;
        align-items: center;
    }
    .devices, .sensors{
        font-size: 6vw;
        /* width: 100%; */
        color: #1C495E;
    }
    .roomBlocks label{
        font-size: 7vw;
    }
}
.home{
    border-radius: 10px ;
    background-color: #1C495E;
}

.blocks{
    display: grid;
    width: 100%;
    height: auto;
}
.blocks div span{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    color: rgba(85, 205, 187, 0.7);
    background-color: rgba(28, 73, 94, 0.7);
}

header button{
    /* box-sizing: border-box; */
    background-color: #1C495E;
}

.home h2{
    text-align: center;
    color: #55CDBA;
    margin: 0;
}

form h1{
    text-align: center;
    color: #55CDBA;
}

form{
    padding: 25px 16px;
    background-color: #1C495E;
    border: 1px solid #1C495E;
    height: auto;
    border-radius: 5px;
}

body{
    background-color: rgb(26, 27, 30);
}
button{
    /* padding: 15px ; */
    width: 100%;
    margin-bottom: 16px;
    padding: 5%;
    color: #45CDC0;
    background-color: #0f868c;
    border: 1px solid #0f868c;
    border-radius: 4px;
    text-align: center;
}

input{
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #112E40;
    color: rgb(199, 194, 194);
    border: 1px solid #112E40;
    height: auto;
    padding: 5%;
    width: 100%;
    color: #8a97a0;
    margin-bottom: 16px;
}
input::placeholder {
    color: #999;
}

/* Адаптивные картинки  */

.wrapper{
    width: 100%;
    border-radius: 10px;
    /* margin: 2px; */
    /* border: 5px solid rgb(196, 205, 69); */
}
.padded-container{
    height: 0;
    position: relative;
    overflow: hidden;
    padding-bottom: 46%;
}
.img{
    width: 100%;
    height: auto;
}
.centered{
    position: absolute;
    top:-50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    margin: auto;
}